* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: #fff;
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
}

h1 {
    margin-bottom: 0.5em;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-menu a:hover {
    color: #00adb5;
}

.nav-menu a:active {
    color: #ff5722;
}

main {
    margin-top: 140px;
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-bottom: 3em;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    scroll-margin-top: 150px; 
}

.profile-figure {
    text-align: center;
    margin-bottom: 30px;
}

.profile-figure img {
    width: 250px;
    border-radius: 50%;
}

#education ol {
    padding-left: 20px;
}


.skills-list {
    list-style-type: square;
    font-size: 1.1em; 
}

.skills-list li {
    margin-bottom: 10px;
}

.project-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    flex: 1 1 30%;
    background-color: #fafafa;
    padding: 20px;
    border: 2px solid #ddd;
    margin: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
    font-weight: 500;
}

form input,
form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input:focus,
form textarea:focus {
    border-color: #00adb5;
    outline: none;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00adb5;
}

.page-content {  /*SELECTING HTML ELEMENTS*/
    margin-bottom: 3em;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
}

.card-body { /*SELECTING HTML ELEMENTS*/
    margin-bottom: 15px;
    font-size: 1.1em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #222;
    color: #fff;
}